form(role='Login',action='Users/Get',method='POST')
    .form-group
        input.form-control(placeholder='Username',type='text')
    .form-group
        input.form-control(placeholder='Password',type='password')
    .form-group
        input.btn.btn-info(type='submit',value='Loggin')
